body {
  box-sizing: border-box;
  display: block;
  width: 95%;
  margin: 0 auto;
}

.chessboard {
  border: 3px solid tan;
}

.chessboard th {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.chessboard td {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

table tr:nth-child(odd) td:nth-child(odd)  {
  background-color: black;
  width: 5em;
  height: 5em;
}

table tr:nth-child(odd) td:nth-child(even) {
  background-color: white;
  width: 5em;
  height: 5em;
}

table tr:nth-child(even) td:nth-child(even) {
  background-color: black;
  width: 5em;
  height: 5em;
}

table tr:nth-child(even) td:nth-child(odd) {
  background-color: white;
  width: 5em;
  height: 5em;
}

.btns {
  background-color: pink;
}

.btn {
  width: auto;
  margin: auto;
}
